<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Test MVCModule</title>

	<link rel="stylesheet" href="../node_modules/mocha/mocha.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div id="mocha"></div>

	<script src="./polifills.js"></script>

	<script src="../node_modules/mocha/mocha.js" charset="utf-8"></script>
	<script src="../node_modules/chai/chai.js" charset="utf-8"></script>
	<script src="../node_modules/sinon/pkg/sinon.js" charset="utf-8"></script>

	<script src="../node_modules/lodash/lodash.min.js"></script>

	<script src="../node_modules/class-wrapper/dest/class-wrapper.js"></script>
	<script type="text/javascript" charset="utf-8">
		var ClassWrapper = window['class-wrapper'];
	</script>
	<% if (isPROD) { %>
	<script src="../dest/mvcmodule.min.js"></script>
	<% } %>
	<script type="text/javascript" charset="utf-8">
		function appendScript(src) {
			var script = document.createElement('script');
			script.charset = 'utf-8';
			script.src = src;

			document.body.appendChild(script);
		}

		window.assert = chai.assert;
		window.sinon = sinon;

		mocha.setup({
			ui: 'tdd',
			bail: false
		});

		var components = [
			'utils',
			'AModeComponent',
			'AControl',
			'AView',
			'AFMVCModule',
			'AFMode',
			'DynamicView',
			'ADecorator',
			'MVCModule',
			'Mode',
			'StaticView',
		];

		// add lib files
		<% if (isPROD) { %>
		var pkg = window['MVCModule'];
		window.utils = pkg.utils;
		window.AControl = pkg.AControl;
		window.AFMVCModule = pkg.AFMVCModule;
		window.AFMode = pkg.AFMode;
		window.AModeComponent = pkg.AModeComponent;
		window.AView = pkg.AView;
		window.DynamicView = pkg.DynamicView;
		window.ADecorator = pkg.ADecorator;
		window.MVCModule = pkg.MVCModule;
		window.Mode = pkg.Mode;
		window.StaticView = pkg.StaticView;
		<% } else { %>
		['dep2vars'].concat(components).forEach(function(component) {
			appendScript('<%= jsFolder %>' + component + '.js');
		});
		<% } %>

		// add test files
		components.forEach(function(component) {
			appendScript(component + '.js');
		});


		window.addEventListener('load', function(){
			mocha.run();
		});
	</script>
</body>
</html>
